@page "{ID}"
@model Assignment.Pages.EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Application</h2>

@*form for parent's/guardians to apply, with validation controls*@
<form method="post" class="form-horizontal">

    @*ask for updated child properties first name, last name, PPS num, DOB, gender, hours requested, days requested,
        starting date*@

    <span>Please fill in your child's updated details</span>

    <div class="form-group">
        <label asp-for=applicant.CFirstName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.CFirstName
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.CLastName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.CLastName
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.DOB class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.DOB
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Gender class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.Gender
        </div>
    </div>

    @*radio buttons for hours*@
    <div class="form-group">
        <span class="col-sm-2 control-label">Full or Part-Time </span>
        <div class="col-sm-3">
            <label for="Full-Time">
                <input value="Full-Time" id="Full-Time" type="Radio" asp-for="applicant.Hours" />
                Full-Time
            </label>
            <label for="Part-Time">
                <input value="Part-Time" id="Part-Time" type="Radio" asp-for="applicant.Hours" />
                Part-Time
            </label>
        </div>
        <span asp-validation-for=applicant.Hours></span>
    </div>

    @*checkbox for each day*@
    <fieldset class="form-group">
        <span class="col-sm-2 control-label">Days attending </span>
        <div class="col-sm-5">
            <input asp-for=applicant.Monday>
            <label asp-for=applicant.Monday></label>
            <input asp-for=applicant.Tuesday>
            <label asp-for=applicant.Tuesday></label>
            <input asp-for=applicant.Wednesday>
            <label asp-for=applicant.Wednesday></label>
            <input asp-for=applicant.Thursday>
            <label asp-for=applicant.Thursday></label>
            <input asp-for=applicant.Friday>
            <label asp-for=applicant.Friday></label>
        </div>
    </fieldset>

    <div class="form-group">
        <label asp-for=applicant.StartDate class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.StartDate class="form-control">
        </div>
        <span asp-validation-for=applicant.StartDate></span>
    </div>

    @*ask for updated parent properties First Name, Surname, relationship to child, address, Irish mobile num,
        //second contact num, other contact num, e-mail address, 2nd e-mail address*@

    <h3>Please fill in your own updated details</h3>


    <div class="form-group">
        <label asp-for=applicant.PFirstName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.PFirstName
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.PLastName class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.PLastName
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Relationship class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            @Model.applicant.Relationship
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Address class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Address class="form-control">
        </div>
        <span asp-validation-for=applicant.Address></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Mobile class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Mobile class="form-control">
        </div>
        <span asp-validation-for=applicant.Mobile></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Phone1 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Phone1 class="form-control">
        </div>
        <span asp-validation-for=applicant.Phone1></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Phone2 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Phone2 class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Email1 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Email1 class="form-control">
        </div>
        <span asp-validation-for=applicant.Email1></span>
    </div>

    <div class="form-group">
        <label asp-for=applicant.Email2 class="col-sm-2 control-label"></label>
        <div class="col-sm-3">
            <input asp-for=applicant.Email2 class="form-control">
        </div>
    </div>

    <button type="submit">Submit</button>*
</form>
