@page
@model Assignment.Pages.Applicants.ListApplicantsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ListApplicant";
}

<head>
    <title>List Applications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<form method="post" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Application Number</th>
                <th>Child's Name</th>
                <th>Parent/Guardian's Name</th>
                <th>View Full Application</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model.Applicants)
            {
            <tr>
                <td>@applicant.ID</td>
                <td>@applicant.CFirstName @applicant.CLastName</td>
                <td>@applicant.PFirstName @applicant.PLastName</td>
                <td><a asp-page="ViewApplicant" asp-route-id="@applicant.ID">View</a> </td>
            </tr>
        }
            </tbody>
        </table>
    </form>

