@page
@model Assignment.Pages.Applicants.ListApplicantsModel
@{
    ViewData["Title"] = "ListApplicants";
}

<h2>List Applications</h2>

<table class="table">
    <thead>
        <tr>
            <th>Application Number</th>
            <th>Child's Name</th>
            <th>Parent's Name</th>
            <th>View Full Application</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model.Applicants)
        {
        <td>@applicant.ID</td>
        <td>@applicant.CFirstName @applicant.CLastName</td>
        <td>@applicant.PFirstName @applicant.PLastName</td>
        <td><a href="ViewApplicant/@applicant.ID">View</a></td>
        }
        </tbody>
    </table>

