@page
@model Assignment.Pages.ListApplicantsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ListApplicants";
}

<head>
    <title>Applications</title>
</head>

@*form for searching by last name*@
<form method="post">
    <div>
        Search by Last Name
        <label asp-for=SearchName>
            <input asp-for=SearchName />
        </label>
        <button id="submit" type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

@*table with basic details of all applicants*@
<form method="post" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Application Number</th>
                <th>Child's Name</th>
                <th>Parent/Guardian's Name</th>
                <th>View Full Application</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in Model.Applicants)
            {
            <tr>
                <td>@applicant.ID</td>
                <td>@applicant.CFirstName @applicant.CLastName</td>
                <td>@applicant.PFirstName @applicant.PLastName</td>

                @*button to redirect to singular applicant's full details using ID*@
                <td><a asp-page="ViewApplicant" asp-route-id="@applicant.ID">View</a></td>
            </tr>
        }
            </tbody>
        </table>
    </form>

