@page
@model Assignment.Pages.SearchModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Search";
}

<head>
    <title>Matching Searches</title>
</head>

@*table with basic info on applicants with matching surname of search*@
<table class="table">
    <thead>
        <tr>
            <th>Application Number</th>
            <th>Child's Name</th>
            <th>Parent/Guardian's Name</th>
            <th>View Full Application</th>
        </tr>
    </thead>
    <tbody>
        @if (String.IsNullOrEmpty(Model.SearchBy))
        {
            <tr>
                <td>No applicant with that last name</td>
            </tr>
        }
        else
        {
            @foreach (var Applicant in Model.Applicants)
            {
                @if (Applicant.CLastName == Model.SearchBy)
                {
                    <tr>
                        <td>@Applicant.ID</td>
                        <td>@Applicant.CFirstName @Applicant.CLastName</td>
                        <td>@Applicant.PFirstName @Applicant.PLastName</td>

                        <td><a asp-page="ViewApplicant" asp-route-id="@Applicant.ID">View</a></td>
                    </tr>
                }

            }

        }

    </tbody>
</table>

