@page "{ID}"
@model Assignment.Pages.ViewApplicantModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewApplicant";
}

<head>
    <title>View Applicant</title>
</head>

@*table with full details of an applicant*@
<form>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Application Number</th>
                    <th>Child's Name</th>
                    <th>Child's PPSN</th>
                    <th>Child's Date of Birth</th>
                    <th>Child's Gender</th>
                    <th>Full or Part-Time</th>
                    <th>Start Date</th>
                    <th>Parent/Guardian's Name</th>
                    <th>Relationship to Child</th>
                    <th>Address</th>
                    <th>Mobile Phone Number</th>
                    <th>House Phone Number</th>
                    <th>Other Phone Number</th>
                    <th>Email Address</th>
                    <th>Alternative Email Address</th>
                    <th>Cost</th>
                    <th>Edit Application</th>
                    <th>Delete Application</th>
                </tr>
            </thead>
            <tbody>
            <td>@Model.applicant.ID</td>
            <td>@Model.applicant.CFirstName @Model.applicant.CLastName</td>
            <td>@Model.applicant.PPSN</td>
            <td>@Model.applicant.DOB</td>
            <td>@Model.applicant.Gender</td>
            <td>@Model.applicant.Hours</td>
            <td>@Model.applicant.StartDate</td>
            <td>@Model.applicant.PFirstName @Model.applicant.PLastName</td>
            <td>@Model.applicant.Relationship</td>
            <td>@Model.applicant.Address</td>
            <td>@Model.applicant.Mobile</td>
            <td>@Model.applicant.Phone1</td>
            <td>@Model.applicant.Phone2</td>
            <td>@Model.applicant.Email1</td>
            <td>@Model.applicant.Email2</td>
            <td>@Model.applicant.Cost</td>
            <td><a asp-page="Edit" asp-route-id="@Model.applicant.ID">Edit</a></td>
            <td><a asp-page="DeleteApplicant" asp-route-id="@Model.applicant.ID">Delete</a></td>
            </tbody>
        </table>
    </div>
</form>