@page
@model Assignment.Pages.ViewApplicantModel
@{
    ViewData["Title"] = "ViewApplicant/{ID}";
}

<h2>ViewApplicant</h2>

<table class="table">
    <thead>
        <tr>
            <th>Application Number</th>
            <th>Child's Name</th>
            <th>Child's PPSN</th>
            <th>Child's Date of Birth</th>
            <th>Child's Gender</th>
            <th>Full or Part-Time</th>
            <th>Days Attending</th>
            <th>Start Date</th>
            <th>Parent's Name</th>
            <th>Relationship to Child</th>
            <th>Address</th>
            <th>Mobile Phone Number</th>
            <th>House Phone Number</th>
            <th>Other Phone Number</th>
            <th>Email Address</th>
            <th>Alternative Email Address</th>
        </tr>
    </thead>
    <tbody>
    @*<td>@applicant.ID</td>
    <td>@applicant.CFirstName @applicant.CLastName</td>
    <td>@applicant.PPSN</td>
    <td>@applicant.PFirstName @applicant.PLastName</td>*@
    }
    </tbody>
</table>

