@page "{ID}"
@model Assignment.Pages.ViewApplicantModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ViewApplicant";
}

<head>
    <title>View Applicant</title>
</head>

@*full details of an applicant*@
<form>

    <h3>Applicant's full details</h3>

    <div class="form-group">
        <label asp-for=@Model.applicant.ID></label>
        <div>@Model.applicant.ID</div>
    </div>

    <div class="form-group">
        <label>Child's Name:</label>
        <div>@Model.applicant.CFirstName @Model.applicant.CLastName</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.PPSN></label>
        <div>@Model.applicant.PPSN</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.DOB></label>
        <div>@Model.applicant.DOB</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Gender></label>
        <div>@Model.applicant.Gender</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Hours></label>
        <div>@Model.applicant.Hours</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.StartDate></label>
        <div>@Model.applicant.StartDate</div>
    </div>

    <div class="form-group">
        <label>Parent/Guardian's Name:</label>
        <div>@Model.applicant.PFirstName @Model.applicant.PLastName</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Relationship></label>
        <div>@Model.applicant.Relationship</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Address></label>
        <div>@Model.applicant.Address</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Mobile></label>
        <div>@Model.applicant.Mobile</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Phone1></label>
        <div>@Model.applicant.Phone1</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Phone2></label>
        <div>@Model.applicant.Phone2</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Email1></label>
        <div>@Model.applicant.Email1</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Email2></label>
        <div>@Model.applicant.Email2</div>
    </div>

    <div class="form-group">
        <label asp-for=@Model.applicant.Cost></label>
        <div>@Model.applicant.Cost</div>
    </div>

    <div class="form-group">
        <div>
            @*edit button*@
            <a asp-page="Edit" asp-route-id="@Model.applicant.ID">Edit Application</a>
        </div>
    </div>

    <div class="form-group">
        <div>
            @*delete button*@
            <a asp-page="DeleteApplicant" asp-route-id="@Model.applicant.ID">Delete Application</a>
        </div>
    </div>
</form>